# ========================
# SECURITY
# ========================
.env
.env.*
*.env
*.key
*.pem
*.p12
*.jks
*.keystore

# ========================
# SPRING
# ========================
application-local.properties
application-dev.properties
application-secrets.properties

# ========================
# LOGS
# ========================
logs/
*.log

# ========================
# NODE / ANGULAR
# ========================
node_modules/
dist/
.angular/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db
